!.gitignore
.DS_Store
nohup.out

# General ignore #
##################
*.pyc
*.pkl
*.h5
*.hdf
icon.gif

# ISE crap - files #
####################
*.bit
*.autosave
*.tcl
*.do
*.scr
*.mif
*.vho
*.xcf
*.gise
*.xise
*.ise
*.sdc
*.sgp
*.prj
bmg_*.*
dmg_*.*
cntr_*.*
*import.log
globals
hdlFiles
name_translations
synopsis
xlpersistentdff.ngc
blockCoreMap
filter.filter
commandLines
term49094
*error.log
*sysgen.log

# ISE Crap - folders #
######################
netlist
src
sysgen
synth_model
_xmsgs
XPS_ROACH_BASE
XPS_ROACH_base


